<?xml version="1.0"?>
<model>
  <name>aruco_marker</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Your Name</name>
    <email>your@email.com</email>
  </author>

  <description>
    5 cm x 5 cm Aruco visual marker for Gazebo simulation.
  </description>
</model>