<?xml version="1.0"?>
<!--
Copied and modified from turtlebot3 example:
https://github.com/ROBOTIS-GIT/turtlebot3/blob/kinetic-devel/turtlebot3_description/urdf/turtlebot3_waffle_pi_for_open_manipulator.gazebo.xacro
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="piper_arm_gazebo" params="prefix">

  <!-- controller -->
  <xacro:macro name="transmission_block" params="tran_name joint_name motor_name">
    <transmission name="${tran_name}">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="${joint_name}">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="$motor_name">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
  </xacro:macro>

  <xacro:transmission_block tran_name="tran1" joint_name="joint1" motor_name="motor1"/>
  <xacro:transmission_block tran_name="tran2" joint_name="joint2" motor_name="motor2"/>
  <xacro:transmission_block tran_name="tran3" joint_name="joint3" motor_name="motor3"/>
  <xacro:transmission_block tran_name="tran4" joint_name="joint4" motor_name="motor4"/>
  <xacro:transmission_block tran_name="tran5" joint_name="joint5" motor_name="motor5"/>
  <xacro:transmission_block tran_name="tran6" joint_name="joint6" motor_name="motor6"/>
  <xacro:transmission_block tran_name="tran7" joint_name="joint7" motor_name="motor7"/>
  <xacro:transmission_block tran_name="tran8" joint_name="joint8" motor_name="motor8"/>

</robot>
